@media (max-width: 1140px) {
    
}

@media (max-width: 980px) {
    .container {
        margin: 0 10px;
    }
    .sidebar {
        width: 30%;
    }
    .contact-list .adress-item {
        padding: 8px 0px 8px 22px;
    }
    .contacts {
        
    }
    .variable-content {
        
    }
    .logo-img {
        padding-left: 10px;
    }
    .soc-buttons {
        padding-right: 10px;
    }
    .naviki {
        width: 100%;
        position: relative;
        display: block;
        margin: 0 -14px 0px 0;
    }
    
    .proj {
        width: 181px;
    }
    .aboutbox-header-obrat {
        font-size: 26px;
    }
    .aboutbox-header-obrat:after {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .headers {
        height: 160px;
    }
    .logo-img {
        float: none;
        margin: -10px auto;
        padding: 0;
        display: flex;
    }
    .soc-buttons {
        float: none;
        margin: 25px 20px auto;
        text-align: center;
    }
    .sidebar {
        width: 100%;
    }
    .navigation {
        width: 45%;
        float: left;
    }
    .contacts {
        width: 45%;
        float: right;
    }
    .infa {
        padding: 11px;
    }
    .contact-list .adress-item {
        padding: 15px;
    }
    .variable-content {
        width: 100%;
        float: none;
    }
    
    .proj {
        margin: 15px 34px;
    }
    
    .block-name {
        width: 100%;
        display: block;
        float: none;
    }
    .block-textarea.name {
        max-width: 100%;
        width: 478px;
    }
    .block-emails {
        width: 100%;
        display: block;
        float: none;
    }
    .block-textarea.emails {
        max-width: 100%;
        width: 478px;
    }
    .textarea.message {
        width: 100%;
        max-width: 478px;
        padding: 10px 0 0 10px;
    }
    .kapcha {
        float: none;
        margin: 20px auto;
    }
    .block-code {
        float: none;
        width: 192px;
    }
}

@media (max-width: 559px) {
    .wrapper:after {
        height: 150px;
    }
    .sidebar {
        width: 100%;
    }
    .navigation {
        width: 100%;
        float: none;
    }
    .contacts {
        width: 100%;
        float: none;
        margin-bottom: 25px;
    }
    .navigation .navigation-item.current {
        padding-left: 0;
    }
    .navigation-link {
        text-align: center;
    }
    .page-footer {
        height: 80px;
    }
    .page-footer .container {
        padding-top: 15px;
    }
    .page-footer .lock {
        display: none;
    }
}

@media (max-width: 480px) {
    .image-wrap {
        float: none;
        margin: 0 auto;
    }
    .info_block {
        margin: 0 0 0 30px;
    }
    .submit-block {
        float: none;
    }
    .button.otpravka {
        margin-right: 0;
        width: 100%;
    }
    .reset-block {
        float: none;
        margin-top: 15px;
    }
    .button.clear {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .forma-obrat {
        padding: 58px 85px 200px 85px;
    }
    .block-code {
        display: block;
        width: 212px;
    }
    .aboutbox-header-obrat {
        padding: 28px 60px;
    }
}
    
@media (max-width: 360px) {
    .soc-buttons {
        margin: 25px auto;
    }
    .socials-link {
        margin: 20px 8px;
    }
    .aboutbox-header-min {
        font-size: 23px;
    }
    .portf-1 {
        padding-left: 80px;
        background-position: 22px 2px;
    }
    .portf-2 {
        padding-left: 80px;
        background-position: 22px 22px;
    }
    .obrazovan {
        padding-left: 80px;
        background-position: 14px 4px;
    }
    .obrazovan.practika {
        background-position: 22px 24px;
    }
    .obrazovan.kurs {
        background-position: 22px 26px;
    }
    
    .forma-obrat {
        padding: 58px 75px 200px 75px;
    }
    .aboutbox-header-obrat {
        font-size: 20px;
        padding: 24px 60px;
    }
}

@media (max-width: 320px) {
    
}